<!DOCTYPE html>
<html lang="en">
    <head>
		<%- include("parts/head") %>
    </head>
    <body>
        <h1>CookieSearch™</h1>
        <form action="search">
            <input
                type="text"
                name="regex"
                id="regex"
                placeholder="why is atlas weird?"
            />
            <button>search!</button>
        </form>
    </body>
</html>
